<main class="p-4 dark:text-white min-h-full">
  <h1 class="text-2xl font-mono font-black mb-4">
    --- Day 11: Dumbo Octopus ---
  </h1>
  <p class="max-w-xl">
    Our task today is to simulate a field of flashing fish.
  </p>
  <div class="flex lg:row lg:max-w-6xl lg:h-full">
    <div *ngIf="currentStep | async as step">
      <div>
        <h3 class="font-bold mt-6 mb-2">Load positions</h3>
        <p>We set up our riddle</p>
        <div class="flex lg:row space-x-4">
          <button (click)="loadExample()" class="button" type="button">
            Load example
          </button>
          <button (click)="loadRiddle()" class="button" type="button">
            Load full input
          </button>
        </div>
        <div *ngIf="step >= 2">
          <h3 class="font-bold mt-6 mb-2">Run flash simulation</h3>
          <p>All places are increased each tick and flash at 9</p>
          <div class="flex lg:row space-x-4">
            <button (click)="startSimulation()" class="button" type="button">
              Start Simulation
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="p-4">
      <h3 class="font-bold mb-4">Visualisation of our steps</h3>
      <div>
        <canvas
          #canvas
          width="300px"
          height="300px"
          class="rounded-lg bg-gray-300 dark:bg-gray-800 dark:border-gray-300 p-2 border border-gray-800"
        ></canvas>
        <div class="relative pt-1">
          <div
            class="overflow-hidden h-2 text-xs flex rounded bg-purple-200 w-full"
          >
            <div
              [style.width]="(simProgress$ | async) + '%'"
              class="transition-all shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-purple-500"
            ></div>
          </div>
        </div>
      </div>
      <p>Simulating step {{ simStep$ | async }}</p>
      <p>Registered {{ flashes$ | async }} flashes before step 100</p>
      <p>Full flash at {{ fullFlash$ | async }}</p>
    </div>
  </div>
</main>
