<menu
  class="flex w-full flex-row space-x-4 border-b border-gray-100/10 bg-gray-100/25 p-2 font-bold text-blue-100"
>
  <li>
    <a
      routerLink="1"
      class="cursor-pointer from-pink-600 to-violet-600 bg-clip-text hover:bg-gradient-to-r hover:text-transparent"
      routerLinkActive="text-blue-800"
    >
      Day 1
    </a>
  </li>
  <li>
    <a
      routerLink="2"
      class="cursor-pointer from-pink-600 to-violet-600 bg-clip-text hover:bg-gradient-to-r hover:text-transparent"
      routerLinkActive="text-blue-800"
    >
      Day 2
    </a>
  </li>
</menu>
<router-outlet></router-outlet>
