<main class="p-4 dark:text-white">
  <h1 class="text-2xl font-mono font-black mb-4">--- Day 1: Sonar Sweep ---</h1>
  <p class="max-w-xl">
    The task today is to analyze the data from the sonar and learn more about
    the depths of the ocean.
  </p>
  <p *ngIf="increaseSteps | async" class="max-w-xl">
    There where {{ increaseSteps | async }} steps of increase in the depth of
    the readout.
  </p>
  <p *ngIf="increaseSums | async" class="max-w-xl">
    There where {{ increaseSums | async }} steps of increase in the depth of the
    readout sums.
  </p>

  <div *ngIf="currentStep | async as step" class="mb-4">
    <div>
      <h3 class="font-bold mt-6 mb-2">Load lines</h3>
      <p>We draw all lines that we got from the input.</p>
      <div class="flex lg:row space-x-4">
        <button (click)="loadExample()" class="button" type="button">
          Load example
        </button>
        <button (click)="loadRiddle()" class="button" type="button">
          Load full input
        </button>
      </div>
    </div>
  </div>
  <canvas
    #canvas
    class="w-full h-full rounded-lg bg-gray-300 dark:bg-gray-800 dark:border-gray-300 p-2 border border-gray-800"
  ></canvas>
</main>
