<h2>Day 6</h2>
Look at the
<a href="https://adventofcode.com/2018/day/6">original challenge</a> <br />
enter your challenge input here, I've added the demo to get started.
<textarea
  placeholder="Your challenge input"
  [formControl]="challengeInput"
></textarea>

<button (click)="loadChallenge()" [disabled]="working">
  Load actual challenge
</button>

<button
  (click)="startAlgorithm()"
  [disabled]="challengeInput.invalid || working"
>
  Start solution
</button>

<div class="flex gap-4">
  <div class="mat-typography h-400px flex flex-col">
    @if (currentStep >= 1) {
      <p>Step 1 - set up the grid of data we got</p>
    }
    @if (currentStep >= 2) {
      <p>Step 2 - find the nearest point in every point</p>
    }
    @if (currentStep >= 3) {
      <p>Step 3 - mark infinite areas (on the edge)</p>
    }
    @if (currentStep >= 4) {
      <p>Step 4 - Find biggest, not marked, area</p>
    }
    @if (currentStep >= 5) {
      <p>
        Done - The
        <span [style.color]="winner.winningId">biggest area</span> has
        {{ winner.biggestArea }} points in it
      </p>
    }
    @if (currentStep >= 5) {
      <p>
        To continue with part 2 please enter the maximum distance
        <input
          placeholder="Maximum distance"
          [formControl]="distanceInput"
          type="number"
        />
        <button
          (click)="continueAlgorithm()"
          [disabled]="distanceInput.invalid || working2"
        >
          Continue Challenge
        </button>
      </p>
    }
    @if (currentStep >= 6) {
      <p>Starting - Reset the indicators from the last challenge</p>
    }
    @if (currentStep >= 7) {
      <p>Step 7 - Sum up the distances for every point on the grid</p>
    }
    @if (currentStep >= 8) {
      <p>Part 2 done - There are {{ winner2 }} safe points</p>
    }
  </div>
  <div class="flex-auto">
    <canvas style="width: 100%; height: 100%" #canvas></canvas>
  </div>
</div>
