<h1
  class="text-6xl font-black font-mono text-center my-6 text-transparent bg-clip-text bg-gradient-to-tr from-pink-400 to-pink-600"
>
  --- Day 1: Report Repair ---
</h1>
<!--<a
  href="https://adventofcode.com/2020/day/1"
  target="_blank"
  class="bg-blue-100 border-blue-800 border-2 border-solid rounded-lg p-2"
  >Problem statement</a
>-->
<div
  class="rounded-2xl p-4 space-y-2 bg-gradient-to-tr from-blue-700 to-blue-900"
>
  <div class="mb-8">
    <h2 class="font-bold text-5xl text-blue-200 mb-4">Part 1</h2>
    <h3 class="text-gray-100 font-bold text-5xl">Build 2020 with 2 entries</h3>
  </div>
  <div class="flex flex-row font-mono space-x-4 items-stretch">
    <ng-container *ngFor="let step of steps1">
      <div class="flex flex-col space-y-2 justify-center">
        <span
          class="bg-gray-300 bg-opacity-70 px-2 rounded text-2xl whitespace-pre-wrap"
        >
          {{ step.operation }}
        </span>
      </div>
      <div class="flex flex-col space-y-2 justify-between">
        <span
          *ngFor="let text of step.data"
          class="bg-gray-300 bg-opacity-70 px-2 rounded text-2xl whitespace-pre-wrap"
          >{{ text }}</span
        >
      </div>
    </ng-container>
  </div>
</div>
<div
  class="rounded-2xl p-4 bg-gradient-to-t from-green-700 to-green-900 flex flex-col mt-8"
>
  <h2 class="font-bold text-5xl text-green-300 mb-8">Part 2</h2>
</div>
