<h1
  class="my-6 bg-gradient-to-tr from-yellow-400 to-yellow-500 bg-clip-text text-center font-mono text-6xl font-black text-transparent"
>
  --- Day 7: Handy Haversacks ---
</h1>
<div
  class="space-y-2 rounded-2xl bg-gradient-to-tr from-red-700 to-red-900 p-4"
>
  <div class="mb-8">
    <h2 class="mb-4 text-5xl font-bold text-red-200">Part 1</h2>
    <h3 class="text-5xl font-bold text-gray-100">At least one gold bag</h3>
  </div>
  <div class="flex flex-col items-stretch">
    @for (step of steps1; track step; let i = $index) {
      <div
        class="flex flex-row items-stretch space-x-4 border-b border-solid border-white py-4 font-mono"
      >
        <div class="mr-4 flex flex-col justify-around">
          <span class="font-sans text-9xl text-white">
            {{ i + 1 }}
          </span>
        </div>
        <div class="flex flex-col justify-center space-y-2">
          <span
            class="bg-opacity-70 rounded bg-gray-300 px-2 text-2xl whitespace-pre-wrap"
          >
            {{ step.operation }}
          </span>
        </div>
        <div class="flex flex-col justify-between space-y-2">
          @for (line of step.display; track line) {
            <div class="flex flex-row justify-start space-x-2">
              @for (item of line; track item) {
                <span
                  class="px-2 rounded text-2xl whitespace-pre-wrap {{
                    item.class
                  }}"
                  >{{ item.text }}</span
                >
              }
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
