<h1 class="mb-6 text-center font-mono text-4xl font-bold text-gray-50">
  --- Day 1: Calorie Counting ---
</h1>
<div
  class="bg-opacity-60 border-opacity-50 rounded-2xl border border-gray-100 bg-gray-50 p-4 backdrop-blur"
>
  <h2 class="mb-2 text-2xl font-bold">Problem 1</h2>
  <p class="mb-2">
    The elves have written down how many calories they are carrying, we need to
    find the maximum amount carried by one elve
  </p>
  <button
    (click)="loadFullRiddle()"
    class="active:text-opacity-75 inline-block rounded-full bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-[2px] hover:text-white focus:ring focus:outline-none"
  >
    <span
      class="block rounded-full bg-gray-200 px-4 py-1 text-sm font-medium hover:bg-transparent"
    >
      Load full riddle
    </span>
  </button>
</div>
<div class="flex flex-row items-start gap-2">
  <div
    class="bg-opacity-60 border-opacity-50 max-h-[50vh] overflow-x-hidden overflow-y-auto rounded-xl border border-gray-100 bg-gray-50 p-2"
  >
    <p class="font-mono whitespace-pre-line">{{ input$ | async }}</p>
  </div>
  <div
    class="border-opacity-50 flex max-h-[50vh] flex-col gap-2 overflow-x-hidden overflow-y-auto rounded-xl border border-gray-100 p-2"
  >
    @for (elve of elves$ | async; track elve) {
      <div
        class="bg-opacity-60 border-opacity-50 rounded-lg border border-gray-100 bg-gray-50 p-2"
      >
        <p class="font-mono whitespace-pre-line">{{ elve }}</p>
      </div>
    }
  </div>
  <div
    class="border-opacity-50 flex max-h-[50vh] flex-col gap-2 overflow-x-hidden overflow-y-auto rounded-xl border border-gray-100 p-2"
  >
    @for (elve of perElve$ | async; track elve) {
      <div
        class="bg-opacity-60 border-opacity-50 rounded-lg border border-gray-100 bg-gray-50 p-2"
      >
        <p class="font-mono whitespace-pre-line">{{ elve }}</p>
      </div>
    }
  </div>
  <div
    class="bg-opacity-60 border-opacity-50 rounded-xl border border-gray-100 bg-gray-50 p-2"
  >
    {{ maxCalories$ | async }}
  </div>
</div>
<div
  class="bg-opacity-60 border-opacity-50 rounded-2xl border border-gray-100 bg-gray-50 p-4 backdrop-blur"
>
  <h2 class="mb-2 text-2xl font-bold">Problem 2</h2>
  <p class="mb-2">
    The elves have realized that these calories are not enough snack, so they
    would like to know the sum of the top four elves that carry the most snacks
  </p>
  <button
    (click)="loadFullRiddle()"
    class="active:text-opacity-75 inline-block rounded-full bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-[2px] hover:text-white focus:ring focus:outline-none"
  >
    <span
      class="block rounded-full bg-gray-200 px-4 py-1 text-sm font-medium hover:bg-transparent"
    >
      Load full riddle
    </span>
  </button>
</div>
<div class="flex flex-row items-start gap-2">
  <div
    class="bg-opacity-60 border-opacity-50 max-h-[50vh] overflow-x-hidden overflow-y-auto rounded-xl border border-gray-100 bg-gray-50 p-2"
  >
    <p class="font-mono whitespace-pre-line">{{ input$ | async }}</p>
  </div>
  <div
    class="border-opacity-50 flex max-h-[50vh] flex-col gap-2 overflow-x-hidden overflow-y-auto rounded-xl border border-gray-100 p-2"
  >
    @for (elve of elves$ | async; track elve) {
      <div
        class="bg-opacity-60 border-opacity-50 rounded-lg border border-gray-100 bg-gray-50 p-2"
      >
        <p class="font-mono whitespace-pre-line">{{ elve }}</p>
      </div>
    }
  </div>
  <div
    class="border-opacity-50 flex max-h-[50vh] flex-col gap-2 overflow-x-hidden overflow-y-auto rounded-xl border border-gray-100 p-2"
  >
    @for (elve of perElve$ | async; track elve) {
      <div
        class="bg-opacity-60 border-opacity-50 rounded-lg border border-gray-100 bg-gray-50 p-2"
      >
        <p class="font-mono whitespace-pre-line">{{ elve }}</p>
      </div>
    }
  </div>
  <div
    class="border-opacity-50 flex max-h-[50vh] flex-col gap-2 overflow-x-hidden overflow-y-auto rounded-xl border border-gray-100 p-2"
  >
    @for (elve of sortedElves$ | async; track elve; let i = $index) {
      <div
        class="bg-gray-50 bg-opacity-60 border-gray-100 border-opacity-50 rounded-lg border p-2 shadow-amber-500 {{
          i < 3 ? 'shadow-[0_0_8px] border-amber-500' : ''
        }}"
      >
        <p class="font-mono whitespace-pre-line">{{ elve }}</p>
      </div>
    }
  </div>
  <div
    class="bg-opacity-60 border-opacity-50 rounded-xl border border-gray-100 bg-gray-50 p-2"
  >
    {{ topThreeSum$ | async }}
  </div>
</div>
