<ul class="text-m flex flex-row space-x-2 bg-gray-700 p-4 text-white">
  <li
    class="cursor-pointer rounded border border-solid border-transparent bg-gray-500 px-2 hover:border-gray-400"
    routerLink="1"
    routerLinkActive="border-gray-200"
  >
    Day 1
  </li>
  <li
    class="cursor-pointer rounded border border-solid border-transparent bg-gray-500 px-2 hover:border-gray-400"
    routerLink="6"
    routerLinkActive="border-gray-200"
  >
    Day 6
  </li>
  <li
    class="cursor-pointer rounded border border-solid border-transparent bg-gray-500 px-2 hover:border-gray-400"
    routerLink="7"
    routerLinkActive="border-gray-200"
  >
    Day 7
  </li>

  <li
    class="cursor-pointer rounded border border-solid border-transparent bg-gray-500 px-2 hover:border-gray-400"
    routerLink="8"
    routerLinkActive="border-gray-200"
  >
    Day 8
  </li>
</ul>
<router-outlet></router-outlet>
