<ul class="bg-gray-700 p-4 text-white flex flex-row text-m space-x-2">
  <li
    routerLink="1"
    class="hover:border-gray-400 cursor-pointer rounded bg-gray-500 border border-solid border-transparent px-2"
    routerLinkActive="border-gray-200"
  >
    Day 1
  </li>
  <li
    routerLink="6"
    class="hover:border-gray-400 cursor-pointer rounded bg-gray-500 border border-solid border-transparent px-2"
    routerLinkActive="border-gray-200"
  >
    Day 6
  </li>
  <li
    routerLink="7"
    class="hover:border-gray-400 cursor-pointer rounded bg-gray-500 border border-solid border-transparent px-2"
    routerLinkActive="border-gray-200"
  >
    Day 7
  </li>

  <li
    routerLink="8"
    class="hover:border-gray-400 cursor-pointer rounded bg-gray-500 border border-solid border-transparent px-2"
    routerLinkActive="border-gray-200"
  >
    Day 8
  </li>
</ul>
<router-outlet></router-outlet>
