<menu
  class="bg-gray-800 p-4 text-white flex flex-row text-2xl space-x-4 items-center"
>
  <li class="mr-4">
    <img alt="⭐" class="h-9" src="./assets/images/star.svg" />
  </li>
  <li class="mr-8">Advent of code</li>
  <li>
    <a
      class="inline-block rounded-full bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75"
      routerLink="2022"
    >
      <span
        class="block rounded-full bg-gray-800 px-8 py-3 text-sm font-medium hover:bg-transparent"
        routerLinkActive="bg-opacity-80"
      >
        2022
      </span>
    </a>
  </li>
  <li
    class="hover:border-gray-400 cursor-pointer rounded-full bg-gray-600 border border-solid border-transparent border-2 px-4"
    routerLink="2021"
    routerLinkActive="border-gray-200"
  >
    2021
  </li>
  <li
    class="hover:border-gray-400 cursor-pointer rounded bg-gray-500 border border-solid border-transparent px-2"
    routerLink="2020"
    routerLinkActive="border-gray-200"
  >
    2020
  </li>
</menu>
<router-outlet></router-outlet>
