<menu
  class="flex flex-row items-center gap-4 bg-gray-800 p-4 text-2xl text-white"
>
  <li class="mr-4" routerLink="/">
    <img
      alt="⭐"
      class="h-9"
      ngSrc="./images/star.svg"
      height="96"
      width="96"
    />
  </li>
  <li class="mr-8" routerLink="/">Advent of code</li>
  <!--  <li>-->
  <!--    <a-->
  <!--      class="group relative inline-block text-sm font-medium text-white focus:outline-none focus:ring"-->
  <!--      routerLink="2023"-->
  <!--    >-->
  <!--      <span class="absolute inset-0 border border-teal-600 group-active:border-teal-500"></span>-->
  <!--      <span-->
  <!--        class="block border border-teal-600 bg-teal-600 px-12 py-3 transition-transform active:border-teal-500 active:bg-teal-500 group-hover:-translate-x-1 group-hover:-translate-y-1"-->
  <!--      >-->
  <!--    2023-->
  <!--  </span>-->
  <!--    </a>-->
  <!--  </li>-->
  <li>
    <a
      routerLink="2024"
      class="block rounded-lg bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 px-5 py-2.5 text-center text-sm font-medium text-white shadow-lg shadow-teal-500/50 hover:bg-gradient-to-br focus:ring-4 focus:ring-teal-300 focus:outline-none dark:shadow-lg dark:shadow-teal-800/80 dark:focus:ring-teal-800"
    >
      2024
    </a>
  </li>
  <li>
    <a
      class="active:text-opacity-75 inline-block rounded-full bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-[2px] hover:text-white focus:ring focus:outline-none"
      routerLink="2022"
    >
      <span
        class="block rounded-full bg-gray-800 px-8 py-3 text-sm font-medium hover:bg-transparent"
        routerLinkActive="bg-gray-800/80"
      >
        2022
      </span>
    </a>
  </li>
  <li
    class="cursor-pointer rounded-full border border-2 border-solid border-transparent bg-gray-600 px-4 hover:border-gray-400"
    routerLink="2021"
    routerLinkActive="border-gray-200"
  >
    2021
  </li>
  <li
    class="cursor-pointer rounded border border-solid border-transparent bg-gray-500 px-2 hover:border-gray-400"
    routerLink="2020"
    routerLinkActive="border-gray-200"
  >
    2020
  </li>
  <li
    class="cursor-pointer border border-solid border-gray-500 px-2 font-mono hover:border-gray-400"
    routerLink="2018"
    routerLinkActive="border-gray-200"
  >
    2018
  </li>
</menu>
<router-outlet></router-outlet>
