<div class="flex flex-row space-x-4 p-4 font-bold text-blue-100">
  <a
    class="cursor-pointer rounded-full bg-blue-800 px-4 hover:bg-blue-600"
    routerLink="1"
    routerLinkActive="bg-blue-600 text-blue-50"
    >Day 1</a
  >
  <a
    class="cursor-pointer rounded-full bg-blue-800 px-4 hover:bg-blue-600"
    routerLink="3"
    routerLinkActive="bg-blue-600 text-blue-50"
    >Day 3</a
  >
  <a
    class="cursor-pointer rounded-full bg-blue-800 px-4 hover:bg-blue-600"
    routerLink="5"
    routerLinkActive="bg-blue-600 text-blue-50"
    >Day 5</a
  >
  <a
    class="cursor-pointer rounded-full bg-blue-800 px-4 hover:bg-blue-600"
    routerLink="11"
    routerLinkActive="bg-blue-600 text-blue-50"
    >Day 11</a
  >
</div>
<router-outlet></router-outlet>
